body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff3f3;
}

header {
    background-color: #c41212;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 182, 182);
    text-decoration: none;
}